
#cssmenu{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	width: 775px;
	margin: 0 auto;
	padding: 0;
	list-style:none;
	color: #000;
	text-transform:uppercase;
	font-family: palatino, georgia, times new roman;
	}

#cssmenu li{
	z-index: 99;
	float: left;
	padding:0 0px 0 2px;
	}

#cssmenu li:first-child{
	background:none;
	}

#cssmenu ul li:first-child{
	font-size: 1.2em;
	background: #fff;
	}

#cssmenu li a{
	display:block;
	text-decoration:none;
	padding:17px 10px 18px 3px;
	padding-top: 1px;
	padding: 5px;
	font-size: .9em;
	color: #000;
	letter-spacing: 1px;
	text-transform:uppercase;
	}

#cssmenu li li a {
	color:#060105 !important;
	text-transform:none;
	font-size: .8em;

	}

#cssmenu li:hover, #cssmenu li.hover {position: relative;}

#cssmenu li:hover ul, #cssmenu li.hover ul {border-right:1px solid transparent;}

#cssmenu .active a, #cssmenu li a:hover{}

#cssmenu ul{
	display:none;
	position:absolute;
	left:0px;
	top:20px;
	margin:0;
	padding:0;
	width:150px;
	z-index:50;
	}
#cssmenu li:hover ul, #cssmenu li.hover ul{
	display:block;
	}
#cssmenu ul li:hover ul, #cssmenu ul li.hover ul{
	display:block!important;
	}
#cssmenu ul li:hover, #cssmenu ul li.hover, #cssmenu ul ul li:hover, #cssmenu ul ul li.hover{
	background:#eee!important;
	}

#cssmenu ul li{
	border: 0px solid;
	padding:4px 5px 4px 5px!important;
	text-transform:none!important;
	background:#fff;
	border: 1px solid;
	display:block;
	}

#cssmenu ul li.last{
	padding-right:0;
	background:#f0dcb9;
	}
#cssmenu ul ul{
	display:none!important;
	position:absolute;
	left:144px;
	top:0;
	margin:0;
	padding:0;
	width:150px;

	z-index:12;
	}
#cssmenu ul ul li{
	background:#f9e9cd!important;
	}
#cssmenu ul ul li.last{
	padding-right:0;
	background:#f9e9cd;
	}

#cssmenu ul li a{
	font-weight:normal!important;
	padding:0;
	text-decoration:none;
	width:150px;
	}
